body {
  background-color: #f2eaea;
  margin: 0;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #000 !important;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.imj {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/фон.jpg);
  animation: imj 10s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes imj {
  0% {
    background-image: url(./images/фон.jpg) center / cover no-repeat;
  }

  50% {
    background-image: url(./images/andreas-kind-bUhzlj3gGso-unsplash\ 1.png);
  }
}

input,
textarea {
  background: none;
  border: none;
  font-size: 23px;
  color: white;
}

.text_title {
  font-size: 50px;
  margin-left: 31vw;
  margin-top: 2vh;
  font-family: "Bad Script", cursive;
}

.form_box {
  width: 40vw;
  margin-left: 4vw;
  padding-top: 2vh;
}

.form_name {
  border-bottom: white 2px solid;
  width: 36vw;
  margin-left: 2vw;
  margin-top: 3vh;
}

.form_phone {
  border-bottom: white 2px solid;
  margin-left: 2vw;
  width: 17vw;
}

.form_email {
  border-bottom: white 2px solid;
  margin-left: 2vw;
  width: 17vw;
}

.form_comment {
  border-bottom: white 2px solid;
  width: 36vw;
  margin-left: 2vw;
  margin-top: 6vh;
}

.forma_box_flex {
  display: flex;
  margin-top: 6vh;
}

.send {
  width: 12vw;
  height: 4vh;
  border-radius: 17px;
  border: none;
  margin-top: 4vh;
  margin-left: 10vw;
  font-size: 16px;
}

.contact,
.method,
.session,
.a_education {
  margin-left: 2%;
  border-radius: 50px;
  background-color: rgb(253, 226, 205, 0.7);
  padding: 0.22em;
  font-family: "Jost", sans-serif;
}

.grup_sigen_up {
  display: flex;
  justify-content: center;
  margin-top: 6vw;
}

.grup {
  display: flex;
  margin-right: 2vw;
  justify-content: flex-end;
  padding-top: 4vh;
  font-size: 26px;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.title0 {
  font-size: 80px;
}

.sign_up {
  border-radius: 50px;
  border: 3px solid white;
  background-color: rgb(255, 255, 255, 0.4);
}

.zap {
  padding-top: 0.2em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  padding-bottom: 0.29em;
  font-size: 36px;
  color: white;
  font-family: "Jost", sans-serif;
}

.text {
  color: white;
  opacity: 1;
  font-size: 25px;
  padding-bottom: 0.1em;
  font-family: "Jost", sans-serif;
}



.logo_img {
  margin-top: 21vh;
}

.grup_text_title {
  display: flex;
  margin-right: 3vw;
  position: relative;
}




.image_2 {
  margin-left: 3vw;
  box-shadow: 16px -13px 1px rgb(198, 191, 206);
  border-radius: 35px;
}

.sad_line {
  border-top: 1px solid;
  width: 30vw;
  margin-left: 6vw;
  margin-top: 6vh;
}

.sad_line_flex {
  display: flex;
  justify-content: space-between;
  margin-right: 1vw;
}

.text_sad_line {
  font-size: 60px;
  text-align: right;
  width: 61vw;
  margin-right: 8vw;
  font-family: "Bad Script", cursive;
}

.subtext_sad_line {
  font-size: 26px;
  text-align: right;
  font-family: "Jost", sans-serif;
}

.text_image_3 {
  font-family: "Jost", sans-serif;
  width: 51vw;
  margin-left: 6vw;
  font-size: 26px;
  margin-right: 1vw;
}

.text_image3_flex {
  display: flex;
  margin-top: 5vh;
  margin-right: 3vw;
}

.image_3_background {
  background-color: #81a0d0;
  width: 413px;
  height: 239px;
  margin-top: 5vh;
  margin-left: 9vw;
  border-radius: 20px;
  position: absolute 2;
}

.box {
  position: relative;
  width: 62vw;
  margin-right: 1vw;
}

.image_3 {
  position: absolute 1;
}

.img_3 {
  position: absolute;
  margin-left: 8vw;
  margin-top: 6vh;
}

.image3_line {
  width: 87vw;
  height: 7vh;
  border-top: black 1px solid;
  margin-top: 5vh;
  margin-left: 6vw;
}

.image_4 {
  width: 95vw;
}

.my_title {
  width: 60vw;
}

.class_amg4 {
  width: 100vw;
  background: url(./images/will-van-wingerden-87463-e1549022529660\ 1.png) center / cover no-repeat;
  height: 20vh;
}

.box_you {
  display: flex;
}

.about_you {
  font-size: 60px;
  font-family: "Bad Script", cursive;
  margin-top: 4vh;
  margin-left: 6vw;
}

.your_requests {
  font-size: 26px;
  font-family: "Bad Script", cursive;
  margin-top: 10vh;
  margin-left: 1vw;
}

.if_you {
  font-size: 40px;
  font-family: "Bad Script", cursive;
  margin-left: 14vw;
  margin-top: 12vh;
}

.about_text_flex {
  display: flex;
  margin-top: 3vh;
}

.about_text_1 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  margin-left: 3vw;
}

.about_text_2 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  width: 43vw;
  margin-left: 8vw;
}

.box_relative {
  position: relative;
}

.box_choice {
  position: absolute;
  width: 38vw;
  z-index: 2;
  background-color: #ebe1e1;
  border-radius: 20px;
  margin-left: 4vw;
  margin-top: 8vh;
  box-shadow: 6px 3px 4px gray;
  font-size: 30px;
  font-family: "Jost", sans-serif;
}

.box_choice_text {
  position: absolute;
  width: 66vw;
  background-color: #cbd5ca;
  margin-left: 30vw;
  margin-top: 10vh;
  border-radius: 20px;
  box-shadow: 6px 3px 4px gray;
  font-family: "Jost", sans-serif;
  font-size: 28px;
  z-index: 1;
}

.line_choise {
  margin-left: 7vw;
  width: 18vw;
  border-bottom: 1px solid;
  margin-top: 21vh;
  position: absolute;
}

.choice_1 {
  margin-top: 1vh;
  margin-left: 5vh;
  padding: 0.2em;
}

.choice_2 {
  padding: 1em;
  margin-top: 1vh;
}

.the_method {
  font-size: 50px;
  font-family: "Bad Script", cursive;
  margin-left: 3vw;
}

.the_method_flex {
  display: flex;
  margin-top: 44vh;
}

.the_method_line {
  margin-left: 3vw;
  height: 4vh;
  width: 72vw;
  border-bottom: 1px solid;
}

.the_method_box_text_1 {
  background-color: #f4eeee;
  border-radius: 69px;
  margin-top: 6vh;
  margin-left: 4vw;
  position: absolute;
  box-shadow: 16px 13px 0px rgb(198, 191, 206);
}

.the_method_box_1 {
  position: relative;
}

.svg_boshka {
  margin-left: 87vw;
  margin-top: 6vh;
  width: 8vw;
  height: 16vh;
}

.gipnoz_1 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  width: 74vw;
  padding: 1.5em;
}

.the_method_box_text_2 {

  background-color: #f4eeee;
  border-radius: 69px;
  margin-top: 16vh;
  margin-left: 17vw;
  position: absolute;
  box-shadow: 16px 13px 0px rgb(226, 182, 182);
}

.gipnoz_2 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  width: 74vw;
  padding: 1.5em;
}

.the_method_box_2 {
  position: relative;
}

.cist {
  margin-top: 21vh;
  margin-left: 4vw;
  height: 17vh;
  width: 11vw;
}

.svc_messeng {
  margin-left: 86vw;
  margin-top: 21vh;
  height: 11vh;
  width: 11vw;
}

.the_method_box_text_3 {
  box-shadow: -16px 13px 0px rgb(192, 206, 191);
  background-color: #f4eeee;
  border-radius: 69px;
  margin-top: 16vh;
  margin-left: 5vw;
  position: absolute;
}

.the_method_box_3 {
  position: relative;
}

.gipnoz_3 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  padding: 1.5em;
  width: 74vw;

}

.crivaya_line {
  margin-top: 47vh;
  margin-left: -87vw;
  width: 88vw;
  position: absolute;
}

.WEFY {
  font-family: "Bad Script", cursive;
  font-size: 50px;
}

.WEFY_sText {
  font-family: "Bad Script", cursive;
  font-size: 26px;
}

.mt {
  margin-top: 2vh;
}

.box_relaative {
  display: flex;
  margin-top: 20vh;
  width: 64vw;
  margin-left: 35vw;
}

.girl {
  margin-top: 4vh;
  margin-left: 3vw;
}

.girl_text {
  font-size: 26px;
  font-family: "Jost", sans-serif;
}

.girl_text_flex {
  display: flex;
}

.girl_text_box {
  width: 62vw;
  margin-left: 3vw;
  margin-top: 8vh;
}

.price {
  font-size: 50px;
  font-family: "Bad Script", cursive;
  margin-left: 5vw;
  margin-top: 13vh;
}

.blok_flex {
  display: flex;
}

.blok_text_1 {
  margin-left: 11vw;
  width: 30vw;
  height: 30vh;
  background-color: #80a0d0;
  border-radius: 60px;
  position: absolute;
}

.blok_backgound_1 {
  background-color: #ebe0e0;
  border-radius: 60px;
  position: absolute;
  margin-left: 10vw;
  box-shadow: 14px 0px 0px rgb(128, 160, 208);
}

.blok_text2 {
  margin-left: 61vw;
  background-color: #e3c7ca;
  border-radius: 60px;
  position: absolute;
}

.blok_backgound_2 {
  margin-left: 60vw;
  background-color: #ebe0e0;
  border-radius: 60px;
  position: absolute;
  box-shadow: 13px 0px 0px rgb(227, 199, 202);
}

.blok_backgound_2_text2 {
  font-size: 24px;
  margin-top: 1vh;
  width: 30vw;
}

.blok_backgound_2_text1 {
  margin-top: 1vh;
  font-size: 26px;
  border-bottom: 1px solid gray
}

.blok_backgound_1_text2 {
  padding: 1em;
  font-size: 26px;
  padding-bottom: 2em;
}

.blok_backgound_1_text1 {
  padding: 1em;
  font-size: 26px;
  border-bottom: 1px solid gray;
  margin-top: 1vh;
}

.price_1 {
  padding: 1em;
}

.price_2 {
  width: 26vw;
}

.blok_1 {
  position: relative;
}

.blok_2 {
  position: relative;
}

.list_2 {
  margin-left: 43.9vw;
  margin-bottom: 4vh;
}

.V_line {
  position: absolute;
  height: 34vh;
  border-right: 1px solid;
  margin-left: 50.4vw;
  margin-top: 3vh;
}

.pizdets {
  margin-left: 5vw;
  margin-top: 6vh;
}

.list_grup {
  display: flex;
  justify-content: space-between;
}

.education {
  font-size: 50px;
  font-family: "Bad Script", cursive;
  margin-left: 4vw;
  margin-top: 10vh;
}

.text_education {
  margin-top: 5vh;
  margin-left: 1vw;
}

.textEducation {
  font-size: 28px;
}

.year_line {
  margin-top: 5.4vh;
  margin-left: 4vw;
  height: 32vh;
  width: 0.78vw;
}

.shishka {
  width: 22vw;
}

.educationGrup {
  display: flex;
}

.forma {
  box-shadow: 5px 5px 15px grey;
  background-color: #8ba7d3;
  width: 80vw;
  margin-left: 10vw;
  border-radius: 26px;
  margin-top: 24vh;
}

.pismo {
  margin-left: 36.5vw;
}

.bacground_forma {
  background-color: #adbbdd;
  width: 100vw;
  position: absolute;
  margin-top: 13vh;
}

.how_to_contact {
  font-family: "Jost", sans-serif;
  font-size: 50px;
  color: white;
  margin-left: 8vw;
  padding-top: 4vh;
}

.flex_contact {
  display: flex;
  justify-content: space-between
}

.contact_text {
  color: white;
  margin-right: 10vw;
  padding-top: 4vh;
  font-family: "Jost", sans-serif;
  font-size: 50px;
}

.button_zap {
  margin-left: 11vw;
  margin-top: 7vh;
  border-radius: 27px;
  background-color: rgba(255, 255, 255, 0.31);
  border: none;
}

.info_flex {
  display: flex;
  height: 47vh;
}

.info {
  background-color: #9bb6e0;
  width: 22vw;
  height: 35vh;
  margin-left: 6vw;
  margin-top: 3vh;
  border-radius: 20px;
  border: 1px solid white;
}

.logo_form {
  margin-left: 7vw;
  margin-top: 3vh;
  width: 8vw;
}

.otpr {
  font-size: 26px;
  color: white;
  font-family: "Jost", sans-serif;
  padding: 0.5em;
}

.volna {
  margin-top: 4vh;
  width: 100vw;
  height: 16vh;
}

.text_sogl {
  padding-top: 0.3vh;
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-family: "Jost", sans-serif;
}

.sogl {
  background-color: #8ba7d3;
  width: 100vw;
}



::-webkit-input-placeholder {
  color: white;
}

textarea:focus,
input:focus {
  outline: none;
}

.text_line {
  height: 31vh;
  padding-left: 1.5em;
  font-family: "Jost", sans-serif;
  margin-left: 4vw;
  width: 63vw;
  font-size: 26px;
  border: none;
  margin-top: 6vh;
}


.mText_line_1 {
  display: none;
}

.text_line_1 {
  display: none;
}

.mText_line_2 {
  display: none;
}

.text_line_2 {
  display: none;
}

.girl_text_box_m {
  display: none;
}

.button_burger {
  display: none;
}

.burger_main {
  display: none;
}

.girl_text_2_M {
  display: none;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, );
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  left: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.logo {
  display: flex;
  justify-content: center;
}


.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  font-size: 16px;
}

.volnaC {
  background-image: url(./images/volna.png);
  width: 100vw;
  height: 9vh;
  margin-top: 14vh;

}






@media (max-width: 1600px) {
  .the_method_box_text_1 {
    background-color: #f4eeee;
    border-radius: 69px;
    margin-top: 3vh;
    margin-left: 4vw;
    position: absolute;
    box-shadow: 16px 13px 0px rgb(198, 191, 206);
  }

  .svg_boshka {
    margin-left: 87vw;
    margin-top: 6vh;
    width: 8vw;
    height: 16vh;
  }

  .cist {
    margin-top: 30vh;
    margin-left: 4vw;
    height: 17vh;
    width: 11vw;
  }

  .gipnoz_2 {
    font-size: 26px;
    font-family: "Jost", sans-serif;
    width: 74vw;
    padding: 1.5em;
  }

  .gipnoz_3 {
    font-size: 26px;
    font-family: "Jost", sans-serif;
    padding: 1.5em;
    width: 74vw;
  }

  .svc_messeng {
    margin-left: 86vw;
    margin-top: 32vh;
    height: 11vh;
    width: 11vw;
  }

  .the_method_box_text_1 {
    background-color: #f4eeee;
    border-radius: 69px;
    margin-top: 3vh;
    margin-left: 4vw;
    position: absolute;
    box-shadow: 16px 13px 0px rgb(198, 191, 206);
  }

  .the_method_box_text_2 {
    background-color: #f4eeee;
    border-radius: 69px;
    margin-top: 20vh;
    margin-left: 17vw;
    position: absolute;
    box-shadow: 16px 13px 0px rgb(226, 182, 182);
  }

  .the_method_box_text_3 {
    box-shadow: -16px 13px 0px rgb(192, 206, 191);
    background-color: #f4eeee;
    border-radius: 69px;
    margin-top: 26vh;
    margin-left: 5vw;
    position: absolute;
  }

  .otpr {
    padding: 0.5em;
  }
  .year_line {
    height: 46vh;
}
.crivaya_line{
  margin-top: 60vh;
}


}

@media (max-width: 1440px) {

  .choice_2 {
    padding: 1em;
    margin-top: 4vh;
  }

  .year_line {
    margin-top: 5.4vh;
    margin-left: 4vw;
    height: 36vh;
    width: 5.78vw;
  }

  .the_method_box_text_2 {
    margin-top: 20vh;
  }

  .the_method_box_text_3 {
    margin-top: 20vh;
  }

  .crivaya_line {
    margin-top: 55vh;
    margin-left: -87vw;
    width: 88vw;
    position: absolute;
  }

  .svc_messeng {
    margin-left: 86vw;
    margin-top: 26vh;
    height: 11vh;
    width: 11vw;
  }

  .cist {
    margin-top: 27vh;
  }
  .otpr {
    padding: 1em;
}



}

@media (max-width: 1024px) {
  .title {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 7vh;
  }

  .title0 {
    font-size: 57px;
  }

  .text_line {
    height: 31vh;
    padding-left: 1.5em;
    font-family: "Jost", sans-serif;
    margin-left: 4vw;
    width: 63vw;
    font-size: 22px;
    border: none;
    margin-top: 6vh;
  }

  .text_sad_line {
    font-size: 49px;
    text-align: right;
    width: 61vw;
    margin-right: 8vw;
    font-family: "Bad Script", cursive;
  }

  .the_method {
    font-size: 37px;
    font-family: "Bad Script", cursive;
    margin-left: 3vw;
  }

  .gipnoz_1 {
    font-size: 20px;
    font-family: "Jost", sans-serif;
    width: 74vw;
    padding: 1.5em;
  }

  .gipnoz_2 {
    font-size: 20px;
    font-family: "Jost", sans-serif;
    width: 74vw;
    padding: 1.5em;
  }

  .gipnoz_3 {
    font-size: 20px;
    font-family: "Jost", sans-serif;
    padding: 1.5em;
    width: 74vw;
  }

  .girl_text {
    font-size: 21px;
    font-family: "Jost", sans-serif;
  }

  .volnaC {
    background-image: url(./images/volna.png);
    width: 100vw;
    height: 18vh;
    margin-top: 14vh;
  }

  input,
  textarea {
    background: none;
    border: none;
    font-size: 18px;
    color: white;
  }

  .contact_text {
    color: white;
    margin-right: 10vw;
    padding-top: 4vh;
    font-family: "Jost", sans-serif;
    font-size: 41px;
  }

  .how_to_contact {
    font-family: "Jost", sans-serif;
    font-size: 41px;
    color: white;
    margin-left: 8vw;
    padding-top: 4vh;
  }

}

@media (max-width: 768px) {
  .text {
    color: white;
    opacity: 1;
    font-size: 20px;
    padding-bottom: 0.1em;
    font-family: "Jost", sans-serif;
  }

  .grup_sigen_up {
    display: flex;
    justify-content: center;
    margin-top: 21vw;
  }

  .zap {
    padding-top: 0.2em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-bottom: 0.29em;
    font-size: 29px;
    color: white;
    font-family: "Jost", sans-serif;
  }

  .title0 {
    font-size: 39px;
  }

  .text_line {
    height: 31vh;
    padding-left: 1.5em;
    font-family: "Jost", sans-serif;
    margin-left: 4vw;
    width: 63vw;
    font-size: 18px;
    border: none;
    margin-top: 0vh;
  }

  .image_3_background {
    background-color: #81a0d0;
    width: 27vw;
    height: 16vh;
    margin-top: 5vh;
    margin-left: 9vw;
    border-radius: 9px;
  }

  .img_3 {
    position: absolute;
    margin-left: 8vw;
    margin-top: 6vh;
    width: 27vw;
    height: 16vh
  }

  .text_image_3 {
    font-family: "Jost", sans-serif;
    width: 51vw;
    margin-left: 6vw;
    font-size: 16px;
    margin-right: 1vw;
  }

  .text_sad_line {
    font-size: 28px;
    text-align: left;
    width: 75vw;
    margin-left: 6vw;
    font-family: "Bad Script", cursive;
    margin-top: 4vw;
  }

  .subtext_sad_line {
    font-size: 16px;
    text-align: right;
    font-family: "Jost", sans-serif;
    width: 41vw;
  }


  .text_title {
    font-size: 37px;
    margin-left: 31vw;
    margin-top: 4vh;
    font-family: "Bad Script", cursive;
  }

  .grup_text_title {
    display: flex;
    margin-right: 3vw;
    position: relative;
    margin-top: 3vh;
  }

  .image_2 {
    margin-left: 3vw;
    box-shadow: 7px -7px 1px rgb(198, 191, 206);
    border-radius: 15px;
    width: 27vw;
  }

  .about_text_2 {
    font-size: 15px;
    font-family: "Jost", sans-serif;
    width: 43vw;
    margin-left: 8vw;
  }

  .about_text_1 {
    font-size: 15px;
    font-family: "Jost", sans-serif;
    margin-left: 3vw;
  }

  .sad_line_flex {
    margin-right: 1vw;
    display: block;
  }

  .if_you {
    font-size: 27px;
    font-family: "Bad Script", cursive;
    margin-left: 14vw;
    margin-top: 12vh;
  }

  .your_requests {
    font-size: 15px;
    font-family: "Bad Script", cursive;
    margin-top: 10vh;
    margin-left: 1vw;
  }

  .about_you {
    font-size: 35px;
    font-family: "Bad Script", cursive;
    margin-top: 4vh;
    margin-left: 6vw;
  }

  .box_choice {
    position: absolute;
    width: 38vw;
    z-index: 2;
    background-color: #ebe1e1;
    border-radius: 20px;
    margin-left: 4vw;
    margin-top: 8vh;
    box-shadow: 6px 3px 4px gray;
    font-size: 16px;
    font-family: "Jost", sans-serif;
  }

  .box_choice_text {
    position: absolute;
    width: 66vw;
    background-color: #cbd5ca;
    margin-left: 30vw;
    margin-top: 10vh;
    border-radius: 20px;
    box-shadow: 6px 3px 4px gray;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    z-index: 1;
  }

  .the_method {
    font-size: 28px;
    font-family: "Bad Script", cursive;
    margin-left: 3vw;
  }

  .the_method_box_text_1 {
    background-color: #f4eeee;
    border-radius: 69px;
    margin-top: 3vh;
    margin-left: 4vw;
    position: absolute;
    box-shadow: 9px 7px 0px rgb(198, 191, 206);
  }

  .the_method_box_text_2 {
    background-color: #f4eeee;
    border-radius: 69px;
    margin-top: 11vh;
    margin-left: 17vw;
    position: absolute;
    box-shadow: 9px 7px 0px rgb(226, 182, 182);
  }

  .the_method_box_text_3 {
    box-shadow: -9px 7px 0px rgb(192, 206, 191);
    background-color: #f4eeee;
    border-radius: 69px;
    margin-top: 14vh;
    margin-left: 5vw;
    position: absolute;
  }

  .gipnoz_1 {
    font-size: 15px;
    font-family: "Jost", sans-serif;
    width: 74vw;
    padding: 1.5em;
  }

  .gipnoz_2 {
    font-size: 16px;
    font-family: "Jost", sans-serif;
    width: 74vw;
    padding: 1.5em;
  }

  .gipnoz_3 {
    font-size: 16px;
    font-family: "Jost", sans-serif;
    padding: 1.5em;
    width: 74vw;
  }

  .mt {
    margin-top: 4vh;
  }

  .WEFY_sText {
    font-family: "Bad Script", cursive;
    font-size: 16px;
  }

  .WEFY {
    font-family: "Bad Script", cursive;
    font-size: 33px;
  }

  .girl_text {
    font-size: 16px;
    font-family: "Jost", sans-serif;
  }

  .price {
    font-size: 37px;
    font-family: "Bad Script", cursive;
    margin-left: 5vw;
    margin-top: 13vh;
  }

  .textEducation {
    font-size: 19px;
  }

  .education {
    font-size: 36px;
    font-family: "Bad Script", cursive;
    margin-left: 4vw;
    margin-top: 10vh;
  }

  .bacground_forma {
    background-color: #adbbdd;
    width: 100vw;
    position: absolute;
    margin-top: 3vh;
  }

  .volnaC {
    background-image: url(./images/volna.png);
    width: 100vw;
    height: 18vh;
    margin-top: 14vh;
  }

  .text_sogl {
    padding-top: 0.3vh;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-family: "Jost", sans-serif;
  }

  .how_to_contact {
    font-family: "Jost", sans-serif;
    font-size: 31px;
    color: white;
    margin-left: 8vw;
    padding-top: 4vh;
  }

  .contact_text {
    color: white;
    margin-right: 8vw;
    padding-top: 4vh;
    font-family: "Jost", sans-serif;
    font-size: 31px;
  }

  input,
  textarea {
    background: none;
    border: none;
    font-size: 14px;
    color: white;
  }

  .otpr {
    font-size: 19px;
    color: white;
    font-family: "Jost", sans-serif;
    padding: 0.5em;
  }

  .blok_backgound_1_text1 {
    padding: 1em;
    font-size: 18px;
    border-bottom: 1px solid gray;
    margin-top: 1vh;
  }

  .blok_backgound_1_text2 {
    padding: 1em;
    font-size: 18px;
    padding-bottom: 2em;
  }

  .blok_backgound_2_text1 {
    margin-top: 1vh;
    font-size: 18px;
    border-bottom: 1px solid gray;
  }

  .blok_backgound_2_text2 {
    font-size: 18px;
    margin-top: 1vh;
    width: 30vw;
  }

  .blok_backgound_2 {
    margin-left: 59vw;
    background-color: #ebe0e0;
    border-radius: 60px;
    position: absolute;
    box-shadow: 13px 0px 0px rgb(227, 199, 202);
  }



}


@media (max-width: 430px) {


  .contact,
  .method,
  .session,
  .a_education {
    display: none;
  }


  .logo_img {
    margin-top: 13vh;
    width: 26vw;
  }


  .title {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 60vw;
    height: 19vh;
    margin-left: 20vw;
    text-align: center;
  }

  .image_2 {
    margin-left: 4vw;
    box-shadow: 9px -6px 1px rgb(198, 191, 206);
    border-radius: 17px;
    width: 33vw;
  }

  .image_2_BOX {
    display: block;
  }

  .text_line {
    height: 31vh;
    padding-left: 1.5em;
    font-family: "Jost", sans-serif;
    margin-left: 4vw;
    width: 63vw;
    font-size: 10px;
    border: none;
    margin-top: 0;
  }

  .sad_line {
    display: none;
  }

  .box {
    width: 63vw;
    margin-top: 3vh;
    margin-left: 3vw;
  }

  .box1 {
    width: 63vw;
    margin-left: 5vw;
    border-left: 1px solid;
  }

  .choice_2 {
    padding: 1em;
    margin-top: 1vh;
  }

  .gipnoz_1 {
    font-size: 11px;
    font-family: "Jost", sans-serif;
    width: 49vw;
    padding: 2.5em;
  }

  .gipnoz_2 {
    font-size: 11px;
    font-family: "Jost", sans-serif;
    width: 49vw;
    padding: 2.5em;
  }

  .gipnoz_3 {
    font-size: 11px;
    font-family: "Jost", sans-serif;
    padding: 2.5em;
    width: 44vw;
  }

  .the_method_box_text_3 {
    box-shadow: -7px 7px 0px rgb(192, 206, 191);
    background-color: #E3E3E3;
    border-radius: 69px;
    margin-top: 20vh;
    margin-left: 5vw;
  }

  .the_method_box_text_2 {
    border-radius: 69px;
    margin-top: 16vh;
    margin-left: 30vw;
    box-shadow: 0px 13px 0px rgb(226, 182, 182);
    background-color: #EAEAEA;
  }

  .the_method_box_text_1 {
    background-color: #EDDADA;
    border-radius: 69px;
    margin-top: 3vh;
    margin-left: 3vw;
    box-shadow: 0px 10px 0px rgb(198, 191, 206);
  }

  .the_method_flex {
    display: flex;
    margin-top: 34vh;
  }

  .how_to_contact {
    font-family: "Jost", sans-serif;
    font-size: 19px;
    color: white;
    margin-left: 8vw;
    padding-top: 4vh;
  }

  .contact_text {
    color: white;
    margin-right: 5vw;
    padding-top: 4vh;
    font-family: "Jost", sans-serif;
    font-size: 19px;
  }


  .sign_up {
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.4);
    margin-top: 3vh;
  }

  .title0 {
    font-size: 30px;
  }

  .text_sad_line {
    font-size: 19px;
    text-align: left;
    width: 69vw;
    font-family: "Bad Script", cursive;
    margin-top: 5vh;
    margin-left: 0;
  }

  .subtext_sad_line {
    font-size: 13px;
    text-align: left;
    font-family: "Jost", sans-serif;
  }

  .my_title {
    width: 74vw;
  }

  .text_title {
    font-size: 27px;
    margin-left: 31vw;
    margin-top: 2vh;
    font-family: "Bad Script", cursive;
  }

  .zap {
    padding-top: 0.2em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-bottom: 0.29em;
    font-size: 21px;
    color: white;
    font-family: "Jost", sans-serif;
  }

  .image_3_background {
    background-color: #81a0d0;
    width: 39vw;
    height: 22vh;
    margin-top: 2vh;
    margin-left: 8vw;
    border-radius: 6px;
  }

  .img_3 {
    position: absolute;
    margin-left: 6vw;
    margin-top: 3vh;
    width: 40vw;
    height: 22vh;
  }


  .mText_line_1 {
    display: block;
    width: 52vw;
    margin-left: 8vw;
    margin-top: 7vh;
  }

  .text_line_1 {
    display: block;
    font-family: "Jost", sans-serif;
    font-size: 10px;
  }

  .mText_line_2 {
    display: block;
    margin-left: 3vw;
    margin-top: 1vh;
    width: 87vw;
  }

  .text_line {
    display: none;
  }


  .text_line_2 {
    display: block;
    font-family: "Jost", sans-serif;
    font-size: 10px;
  }

  .text_image_3 {
    font-family: "Jost", sans-serif;
    width: 51vw;
    margin-left: 3vw;
    font-size: 10px;
  }

  .image3_line {
    display: none;
  }

  .class_amg4 {
    margin-top: 8vh;
    width: 100vw;
    background: url(./images/will-van-wingerden-87463-e1549022529660\ 1.png) center / cover no-repeat;
    height: 20vh;
  }

  .grup_text_title {
    display: flex;
    margin-right: 3vw;
    position: relative;
  }

  .box_you {
    display: block;
  }

  .about_you {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 37vw;
  }

  .your_requests {
    font-size: 11px;
    font-family: "Bad Script", cursive;
    margin-left: 35vw;
    margin-top: -2vh;
  }

  .if_you {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 31vw;
    margin-top: 0;
  }

  .about_text_1 {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    margin-left: 3vw;
    width: 81vw;
  }

  .about_text_2 {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    width: 87vw;
    margin-left: 3vw;
    margin-top: 2.2vh;
  }

  .about_text_flex {
    display: block;
    margin-top: 3vh;
  }

  .choice_1 {
    margin-top: 1vh;
    margin-left: 3vh;
    padding: 0.2em;
  }

  .box_choice {
    position: absolute;
    width: 60vw;
    z-index: 2;
    background-color: #ebe1e1;
    border-radius: 20px;
    margin-left: 16vw;
    margin-top: 7vh;
    box-shadow: 3px 3px 4px gray;
    font-size: 10px;
    font-family: "Jost", sans-serif;
  }

  .box_choice_text {
    position: absolute;
    width: 94vw;
    background-color: #cbd5ca;
    margin-left: 3vw;
    margin-top: 10vh;
    border-radius: 20px;
    box-shadow: 6px 3px 4px gray;
    font-family: "Jost", sans-serif;
    font-size: 10px;
    z-index: 1;
  }

  .line_choise {
    margin-left: 6vw;
    width: 89vw;
    border-bottom: 1px solid;
    margin-top: 30vh;
    position: absolute;
  }

  .the_method_line {
    display: none;
  }

  .the_method {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 3vw;
  }

  .crivaya_line {
    display: none;
  }

  .box_relaative {
    display: block;
    margin-top: 13vh;
    width: 93vw;
    margin-left: 4vw;
    border-top: 1px solid;
    padding-top: 2vh;
  }

  .WEFY {
    font-family: "Bad Script", cursive;
    font-size: 26px;
    text-align: right;
  }

  .WEFY_sText {
    font-family: "Bad Script", cursive;
    font-size: 12px;
  }

  .mt {
    margin-top: -1vh;
    text-align: right;
  }

  .girl_text_box {
    display: none;
  }

  .girl_text_box_m {
    display: block;
  }

  .girl_text_1_M {
    font-family: "Jost", sans-serif;
    font-size: 9px;
    margin-left: 3vw;
    margin-top: 4vh;
  }

  .girl_text_2_M {
    display: block;
    font-family: "Jost", sans-serif;
    font-size: 9px;
    margin-left: 13vw;
    margin-top: 1vh;
  }

  .girl {
    margin-top: 0vh;
    margin-left: 3vw;
    height: 17vh;
  }

  .girl_text_flex {
    display: flex;
    margin-top: 2vh;
  }

  .volna {
    margin-top: 14.3vh;
    width: 100vw;
    height: 8vh;
  }

  .price {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 3vw;
    margin-top: 4vh;
  }

  .blok_backgound_1 {
    width: 91vw;
    background-color: #ebe0e0;
    border-radius: 30px;
    position: absolute;
    margin-left: 4vw;
    box-shadow: 10px 0px 1px rgb(128, 160, 208);
  }

  .blok_backgound_1_text1 {
    padding: 1em;
    font-size: 15px;
    border-bottom: 1px solid gray;
    margin-top: 1vh;
  }

  .blok_backgound_1_text2 {
    padding: 1em;
    font-size: 15px;
    padding-bottom: 2em;
  }

  .price_2 {
    width: 77vw;
  }

  .blok_backgound_2 {
    margin-left: 4vw;
    width: 92vw;
    background-color: #ebe0e0;
    border-radius: 30px;
    position: absolute;
    margin-top: 27vh;
    box-shadow: 10px 0px 1px rgb(226, 199, 202);
  }

  .blok_backgound_2_text2 {
    font-size: 15px;
    margin-top: 1vh;
    width: 77vw;
  }

  .blok_backgound_2_text1 {
    margin-top: 1vh;
    font-size: 15px;
    border-bottom: 1px solid gray;
  }

  .V_line {
    position: absolute;
    height: 0vh;
    border-top: 1px solid;
    margin-left: 5vw;
    margin-top: 61vh;
    width: 92vw;
  }

  .education {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 3vw;
    margin-top: 64vh;
  }

  .textEducation {
    font-size: 10px;
  }

  .year_line {
    margin-top: 5.4vh;
    margin-left: 4vw;
    height: 19vh;
  }

  .bacground_forma {
    background-color: #adbbdd;
    width: 100vw;
    position: absolute;
    margin-top: 8vh;
  }

  .forma {
    box-shadow: 5px 5px 15px grey;
    background-color: #8ba7d3;
    width: 94vw;
    margin-left: 3vw;
    border-radius: 26px;
    margin-top: 13vh;
  }

  .form_name {
    border-bottom: white 1px solid;
    width: 50vw;
    margin-left: 0vw;
    margin-top: 2vh;
  }

  .form_phone {
    border-bottom: white 1px solid;
    margin-left: 0vw;
    width: 20vw;
  }

  .form_email {
    border-bottom: white 1px solid;
    margin-left: 2vw;
    width: 28vw;
  }

  .form_comment {
    border-bottom: white 1px solid;
    width: 50vw;
    margin-left: 0vw;
    margin-top: 9vh;
  }

  .forma_box_flex {
    display: flex;
    margin-top: 11vh;
  }

  .button_zap {
    margin-left: 19vw;
    margin-top: 5vh;
    border-radius: 27px;
    background-color: rgba(255, 255, 255, 0.31);
    border: none;
  }

  .otpr {
    font-size: 10px;
    color: white;
    font-family: "Jost", sans-serif;
    padding: 1em;
  }

  .info {
    background-color: #9bb6e0;
    width: 30vw;
    height: 32vh;
    margin-left: 16vw;
    margin-top: 7vh;
    border-radius: 20px;
    border: 1px solid white;
  }

  .logo_form {
    margin-left: 9vw;
    margin-top: 2vh;
    width: 13vw;
  }

  .text_sogl {
    padding-top: 0.3vh;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: "Jost", sans-serif;
  }

  .blok_text_1 {
    display: none;
  }

  .blok_text2 {
    display: none;
  }

  .list_1 {
    display: none;
  }

  .list_2 {
    display: none;
  }

  input,
  textarea {
    background: none;
    border: none;
    font-size: 10px;
    color: white;
  }

  .shishka {
    display: none;
  }

  .educationGrup {
    display: flex;
    margin-top: -3vh;
  }

  .sogl {
    background-color: #8ba7d3;
    width: 100vw;
    margin-top: -1vh;
  }

  .svc_messeng {
    margin-left: 72vw;
    margin-top: 29vh;
    height: 11vh;
    width: 23vw;
  }

  .cist {
    margin-top: 28vh;
    margin-left: 4vw;
    height: 17vh;
    width: 19vw;
  }

  .svg_boshka {
    margin-left: 76vw;
    margin-top: 10vh;
    width: 17vw;
    height: 16vh;
  }

  .grup {
    display: none;
  }

  .header__burger-btn {
    display: block;
  }

  .menu {
    position: absolute;
    left: -112.5vw;
    top: 0;
    width: 100vw;
    background-color: #adbbdd;
    padding: 65px 20px 20px 20px;
    transition: transform .5s;
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    color: white;
    font-size: 21px;
    display: block;
    padding: 10px 0;
  }

  .header.open .menu {
    transform: translateX(100%);
  }

  .text_main {
    color: white;
  }

  .header__container {
    display: block;
  }

  .pismo {
    margin-left: 45.5vw;
    width: 4vw;
  }


}

@media (max-width: 350px) {


  .contact,
  .method,
  .session,
  .a_education {
    display: none;
  }


  .logo_img {
    margin-top: 13vh;
    width: 26vw;
  }


  .title {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 60vw;
    height: 19vh;
    margin-left: 20vw;
    text-align: center;
  }

  .image_2 {
    margin-left: 3vw;
    box-shadow: 9px -6px 1px rgb(198, 191, 206);
    border-radius: 17px;
    width: 41vw;
  }

  .image_2_BOX {
    display: block;
    height: 35vh;
  }

  .text_line {
    height: 31vh;
    padding-left: 1.5em;
    font-family: "Jost", sans-serif;
    margin-left: 4vw;
    width: 63vw;
    font-size: 10px;
    border: none;
    margin-top: 0;
  }

  .sad_line {
    display: none;
  }

  .box {
    width: 63vw;
    margin-top: 3vh;
    margin-left: 5vw;
  }

  .box1 {
    width: 63vw;
    margin-left: 5vw;
    border-left: 1px solid;
  }

  .choice_2 {
    padding: 1em;
    margin-top: 1vh;
  }

  .gipnoz_2 {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    width: 52vw;
    padding: 2.5em;
  }

  .gipnoz_2 {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    width: 54vw;
    padding: 2.5em;
  }

  .gipnoz_3 {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    padding: 2.5em;
    width: 44vw;
  }

  .the_method_box_text_3 {
    box-shadow: -7px 7px 0px rgb(192, 206, 191);
    background-color: #E3E3E3;
    border-radius: 69px;
    margin-top: 13vh;
    margin-left: 9vw;
    z-index: 2;
  }

  .the_method_box_text_2 {
    border-radius: 69px;
    margin-top: 18vh;
    margin-left: 30vw;
    box-shadow: 0px 13px 0px rgb(226, 182, 182);
    background-color: #EAEAEA;
    z-index: 2;
  }

  .the_method_box_text_1 {
    background-color: #EDDADA;
    border-radius: 69px;
    margin-top: 3vh;
    margin-left: 4vw;
    box-shadow: 0px 10px 0px rgb(198, 191, 206);
    z-index: 2;

  }

  .the_method_flex {
    display: flex;
    margin-top: 34vh;
  }

  .how_to_contact {
    font-size: 16px;
  }

  .contact_text {
    font-size: 16px;
    margin-right: 6vw;
  }

  .sign_up {
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.4);
    margin-top: 14vh;
  }

  .title0 {
    font-size: 30px;
  }

  .text_sad_line {
    font-size: 19px;
    text-align: left;
    width: 69vw;
    margin-right: 8vw;
    font-family: "Bad Script", cursive;
    margin-top: 5vh;
  }

  .subtext_sad_line {
    font-size: 13px;
    text-align: left;
    font-family: "Jost", sans-serif;
  }

  .my_title {
    width: 74vw;
  }

  .text_title {
    font-size: 27px;
    margin-left: 31vw;
    margin-top: 2vh;
    font-family: "Bad Script", cursive;
  }

  .zap {
    padding-top: 0.2em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-bottom: 0.29em;
    font-size: 21px;
    color: white;
    font-family: "Jost", sans-serif;
  }

  .image_3_background {
    background-color: #81a0d0;
    width: 39vw;
    height: 22vh;
    margin-top: 2vh;
    margin-left: 8vw;
    border-radius: 6px;
  }

  .img_3 {
    position: absolute;
    margin-left: 6vw;
    margin-top: 3vh;
    width: 40vw;
    height: 22vh;
  }


  .mText_line_1 {
    display: block;
    width: 39vw;
    margin-left: 6vw;
  }

  .mText_line_1 {
    display: block;
    width: 44vw;
    margin-left: 6vw;
  }

  .mText_line_2 {
    display: block;
    margin-left: 4vw;
    margin-top: 1vh;
    width: 87vw;

  }

  .text_line {
    display: none;
  }


  .text_line_2 {
    display: block;
    font-family: "Jost", sans-serif;
    font-size: 10px;
  }

  .text_image_3 {
    font-family: "Jost", sans-serif;
    width: 51vw;
    margin-left: 6vw;
    font-size: 10px;
  }

  .image3_line {
    display: none;
  }

  .class_amg4 {
    margin-top: 8vh;
    width: 100vw;
    background: url(./images/will-van-wingerden-87463-e1549022529660\ 1.png) center / cover no-repeat;
    height: 20vh;
  }

  .grup_text_title {
    display: flex;
    margin-right: 3vw;
    position: relative;
    height: 27vh;
  }

  .box_you {
    display: block;
  }

  .about_you {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 37vw;
  }

  .your_requests {
    font-size: 11px;
    font-family: "Bad Script", cursive;
    margin-left: 35vw;
    margin-top: -2vh;
  }

  .if_you {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 31vw;
    margin-top: 0;
  }

  .about_text_1 {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    margin-left: 3vw;
    width: 81vw;
  }

  .about_text_2 {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    width: 87vw;
    margin-left: 3vw;
    margin-top: 2.2vh;
  }

  .about_text_flex {
    display: block;
    margin-top: 3vh;
  }

  .choice_1 {
    margin-top: 1vh;
    margin-left: 3vh;
    padding: 0.2em;
  }

  .box_choice {
    position: absolute;
    width: 60vw;
    z-index: 2;
    background-color: #ebe1e1;
    border-radius: 20px;
    margin-left: 16vw;
    margin-top: 7vh;
    box-shadow: 3px 3px 4px gray;
    font-size: 10px;
    font-family: "Jost", sans-serif;
  }

  .box_choice_text {
    position: absolute;
    width: 94vw;
    background-color: #cbd5ca;
    margin-left: 2vw;
    margin-top: 10vh;
    border-radius: 20px;
    box-shadow: 6px 3px 4px gray;
    font-family: "Jost", sans-serif;
    font-size: 10px;
    z-index: 1;
  }

  .line_choise {
    margin-left: 6vw;
    width: 89vw;
    border-bottom: 1px solid;
    margin-top: 30vh;
    position: absolute;
  }

  .the_method_line {
    display: none;
  }

  .the_method {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 6vw;
  }

  .crivaya_line {
    display: none;
  }

  .box_relaative {
    display: block;
    margin-top: 13vh;
    width: 93vw;
    margin-left: 4vw;
    border-top: 1px solid;
    padding-top: 4vh;
  }

  .WEFY {
    font-family: "Bad Script", cursive;
    font-size: 26px;
    text-align: right;
  }

  .WEFY_sText {
    font-family: "Bad Script", cursive;
    font-size: 12px;
  }

  .mt {
    margin-top: -1vh;
    text-align: right;
  }

  .girl_text_box {
    display: none;
  }

  .girl_text_box_m {
    display: block;
  }

  .girl_text_1_M {
    font-family: "Jost", sans-serif;
    font-size: 9px;
    margin-left: 3vw;
  }

  .girl_text_2_M {
    display: block;
    font-family: "Jost", sans-serif;
    font-size: 9px;
    margin-left: 9vw;
    margin-top: 1vh;
  }

  .girl {
    margin-top: 0vh;
    margin-left: 3vw;
    height: 17vh;
  }

  .girl_text_flex {
    display: flex;
    margin-top: 4vh;
  }

  .volna {
    margin-top: 14.3vh;
    width: 100vw;
    height: 8vh;
  }

  .price {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 22vw;
    margin-top: 4vh;
  }

  .blok_backgound_1 {
    width: 91vw;
    height: 26vh;
    background-color: #ebe0e0;
    border-radius: 30px;
    position: absolute;
    margin-left: 4vw;
    box-shadow: 10px 0px 1px rgb(128, 160, 208);
  }

  .blok_backgound_2 {
    margin-left: 4vw;
    width: 92vw;
    background-color: #ebe0e0;
    border-radius: 30px;
    position: absolute;
    margin-top: 33vh;
    box-shadow: 10px 0px 1px rgb(226, 199, 202);
  }

  .V_line {
    position: absolute;
    height: 0vh;
    border-top: 1px solid;
    margin-left: 5vw;
    margin-top: 65vh;
    width: 92vw;
  }

  .education {
    font-size: 26px;
    font-family: "Bad Script", cursive;
    margin-left: 25vw;
    margin-top: 48vh;
  }

  .textEducation {
    font-size: 10px;
  }

  .year_line {
    margin-top: 5.4vh;
    margin-left: 4vw;
    height: 20vh;
  }

  .bacground_forma {
    background-color: #adbbdd;
    width: 100vw;
    position: absolute;
    margin-top: 8vh;
  }

  .forma {
    box-shadow: 5px 5px 15px grey;
    background-color: #8ba7d3;
    width: 94vw;
    height: 56vh;
    margin-left: 3vw;
    border-radius: 26px;
    margin-top: 19vh;
  }

  .form_name {
    border-bottom: white 1px solid;
    width: 50vw;
    margin-left: 0vw;
    margin-top: 2vh;
  }

  .form_phone {
    border-bottom: white 1px solid;
    margin-left: 0vw;
    width: 20vw;
  }

  .form_email {
    border-bottom: white 1px solid;
    margin-left: 2vw;
    width: 28vw;
  }

  .form_comment {
    border-bottom: white 1px solid;
    width: 50vw;
    margin-left: 0vw;
    margin-top: 9vh;
  }

  .forma_box_flex {
    display: flex;
    margin-top: 11vh;
  }

  .button_zap {
    margin-left: 24vw;
    margin-top: 8vh;
    border-radius: 27px;
    background-color: rgba(255, 255, 255, 0.31);
    border: none;
  }

  .otpr {
    font-size: 10px;
    color: white;
    font-family: "Jost", sans-serif;
  }

  .info {
    background-color: #9bb6e0;
    width: 30vw;
    height: 32vh;
    margin-left: 16vw;
    margin-top: 7vh;
    border-radius: 20px;
    border: 1px solid white;
  }

  .logo_form {
    margin-left: 9vw;
    margin-top: 2vh;
    width: 13vw;
  }

  .text_sogl {
    padding-top: 0.3vh;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: "Jost", sans-serif;
  }

  .blok_text_1 {
    display: none;
  }

  .blok_text2 {
    display: none;
  }

  .list_1 {
    display: none;
  }

  .list_2 {
    display: none;
  }

  input,
  textarea {
    background: none;
    border: none;
    font-size: 10px;
    color: white;
  }

  .shishka {
    display: none;
  }

  .educationGrup {
    display: flex;
    margin-top: 9vh;
  }

  .sogl {
    background-color: #8ba7d3;
    width: 100vw;
    margin-top: -1vh;
  }

  .svc_messeng {
    margin-left: 72vw;
    margin-top: 22vh;
    height: 11vh;
    width: 23vw;
  }

  .cist {
    margin-top: 26vh;
    margin-left: 4vw;
    height: 17vh;
    width: 19vw;
  }

  .svg_boshka {
    margin-left: 76vw;
    margin-top: 10vh;
    width: 17vw;
    height: 16vh;
  }

  .grup {
    display: none;
  }

  .header__burger-btn {
    display: block;
  }

  .menu {
    position: absolute;
    left: -112.5vw;
    top: 0;
    width: 100vw;
    background-color: #adbbdd;
    padding: 65px 20px 20px 20px;
    transition: transform .5s;
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    color: white;
    font-size: 21px;
    display: block;
    padding: 10px 0;
  }

  .header.open .menu {
    transform: translateX(100%);
  }

  .text_main {
    color: white;
  }

  .header__container {
    display: block;
  }


  .price_1 {
    padding: 1em;
    padding-top: 0.2em;
  }
}